@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
.App {
  font-family: 'Reggae One', cursive;
  
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2%;
  border: 2px solid #000;
  background-color: red;
  font-family: 'Reggae One', cursive;
}
.nav-div{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: #000;
  border-radius: 5px;
  width: 66%;
  padding: 2%;
}
.nav-link{
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  color: red;
  margin: 2%;
}
.selected{
  color: white;
  font-size: 1.5rem;
  text-decoration-style: wavy;
  text-decoration-color: white;
}
.aside{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.button-info{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Reggae One', cursive;
  font-size: 1.2rem;
}
.button-div{
  color: white;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.toggler{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
label{
  position: relative;
  margin: 5px auto;
  cursor: pointer;
  width: 100px;
}
label input{
  appearance: none;
  display: none;
}
label span{
  position: relative;
  display: block;
  width: 100px;
  height: 40px;
  background: #222;
  border-radius: 40px;
  box-shadow: inset 0 2px 40px rgba(50,0,0, 0.6),
              inset 0 2px 20px rgba(0,0,0, 0.6),
              inset 0 -5px 0px rgba(0,0,0, 0.6);
}
label .indicator{
  position: absolute;
  top:0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);

  border-radius: 50%;
  box-shadow: inset 0 2px 5px rgba(0,0,0, 0.5),
              inset 0 2px 5px rgba(255,255,255, 0.1);
  transition: 0.5s;
}
label input:checked ~ .indicator{
  left: 60px
}
label input:not(:checked) ~ .indicator::before{
  right: 80px;
}
label .indicator::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: #f00;
  border-radius: 50%;
  box-shadow: 0 0 2px #f00,
              0 0 10px #f00,
              0 0 15px #f00,
              0 0 20px #f00,
              0 0 25px #f00,
              0 0 30px #f00,
              0 0 40px #f00;
}
label input:checked ~ .indicator::before{
  background: #0f0;
  border-radius: 50%;
  box-shadow: 0 0 20px #0f0,
              0 0 10px #0f0,
              0 0 15px #0f0,
              0 0 20px #0f0,
              0 0 25px #0f0,
              0 0 30px #0f0,
              0 0 40px #0f0;
}

.button-div button{
  width: 30%;
  padding: 5%;
  margin: 0% 2% 0 2%;
}
.aside select{
  padding: 3%;
  margin: 3%;
  width: 50%;
}
.sort-drop {
  font-family: 'Reggae One', cursive;
  text-align: center; 
}
.searcher-div{
  text-align: center;
  margin-bottom: 3%;
}
.search-info{
  font-family: 'Reggae One', cursive;
  font-size: 1.2rem;
}
.searcher-div input{
  padding: 3%;
  margin: 3%;
  width:45%;
}
.drop-info{
  margin: auto;
}
.list-container{
  display: flex;
  flex-direction: column;
  height: 600px;
  width:100%;
  color: white;
  overflow: scroll;
  overflow-y: hide;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/41a015e1-ab8f-43d9-80b0-92024013f298/d9wlus2-eb523168-82c8-4a4a-ab9b-0a332e6337aa.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi80MWEwMTVlMS1hYjhmLTQzZDktODBiMC05MjAyNDAxM2YyOTgvZDl3bHVzMi1lYjUyMzE2OC04MmM4LTRhNGEtYWI5Yi0wYTMzMmU2MzM3YWEucG5nIn1dXX0.FsiLpgcs5UXhGf02Jm5nWoG73KsiSDviZmXYRVDCCic');
  background-size: cover;
}
.list-container::-webkit-scrollbar {
  /* width: 10px; */
  scrollbar-color: white orange;
}
.poke-image-div img{
  width: 50%;
}
.poke-list-div{
  background-color: rgba(0,0,0,.8 );
}
.poke-image-div{
  background-size: cover;
  width: 100%;
  background: rgba(0,0,0,.8 );
  padding-top: 2%;
  margin-top: 2%;
}
.poke-back{
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 50%;
  border-radius:10%;
}
.details{
  background-color: rgba(0,0,0, .9);
  text-align: center;
  margin-bottom: 10px;
}
.stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}
.stats ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: rgba(0,0,0, .8);
}
.details li{
  width: 35%;
}
.name-label{
  margin: 0;
  height: 50%;
}
.type-label{
  height:50%;
  width: 100%; 
}
.egg-label{
  background: rgba(255, 140, 50, .6)
}
.ability-label{
  border-bottom: rgba(255,255,255, .8) 1px solid;
}
.type-label-grass{
  background-color: rgb(41,104,23);
}
.type-label-fire{
  background-color: rgb(252,187,4);
}
.type-label-water{
  background-color: rgb(5,158,187);
}
.type-label-bug{
  background-color:rgb(134,200,118);
}
.type-label-flying{
  background-color:rgb(190,150,98);
}
.grass {
  background-image: url('https://vignette2.wikia.nocookie.net/finalfantasy/images/7/77/FFIV_PSP_Forest_Battle.png/revision/latest?cb=20121009012243');
}
.fire{
  background-image: url('https://cdn.bulbagarden.net/upload/thumb/d/d7/Volcanic_Pit_RTDX.png/1200px-Volcanic_Pit_RTDX.png');
}
.water{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83ohf3-7f911e73-0d36-4f31-94f9-e620fd0163c6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8yZmIyODIxYS0xNDA2LTRhMWQtOWIwNC02NjY4ZjI3OGU5NDQvZDgzb2hmMy03ZjkxMWU3My0wZDM2LTRmMzEtOTRmOS1lNjIwZmQwMTYzYzYucG5nIn1dXX0.XuRdW6R-ZJ0J1KMdZ_al_0lryqpOC9gZqKVVr7gNy1M');
}
.bug{
  background-image: url('http://vignette3.wikia.nocookie.net/pokemonmultiverse/images/c/cc/Denseforest.jpg/revision/latest?cb=20140611023451');
}
.flying{
  background-image: url('https://t792ae.c2.acecdn.net/wp-content/uploads/2019/12/Cirrus-Clouds.jpg');
}
.psychic{
  background-image: url('https://2.bp.blogspot.com/-cPpPujxKqtA/TrWW146EhfI/AAAAAAAAAO4/CXNQV1KvKVw/s1600/mega-fractal_picture.jpg');
}
.normal{
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2013/12/02/181707/587bf042e9f7ac767a94341bd09eb19a.jpg');
}
.electric{
  background-image: url('https://wallpapercave.com/wp/SngOt24.jpg');
}
.fairy{
  background-image: url('https://i.ytimg.com/vi/F4tHUeG-Rsw/maxresdefault.jpg');
}
.fighting{
  background-image: url('https://wallpapercave.com/wp/wp2776768.jpg');
}
.ground{
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d84cayh-8e1b25c5-7112-445a-b383-e8899331b45c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8yZmIyODIxYS0xNDA2LTRhMWQtOWIwNC02NjY4ZjI3OGU5NDQvZDg0Y2F5aC04ZTFiMjVjNS03MTEyLTQ0NWEtYjM4My1lODg5OTMzMWI0NWMucG5nIn1dXX0.LW2CwIEgny7Yr5Yp5-XzGa4N2SxUJi1e9aDcJDyPnLk');
}
.poison{
  background-image: url('https://vignette.wikia.nocookie.net/pokemon-rol-ffl/images/c/c4/Swamp-wallpaper-6.jpg/revision/latest?cb=20160420124147&path-prefix=es');
}
.rock{
  background-image: url('http://vignette3.wikia.nocookie.net/pokemon/images/c/c2/Mt._Molteau.png/revision/latest?cb=20151116202540');
}

/* Default styling here */

/* //Little larger screen */
@media only screen and (min-width: 480px) and (max-width: 599px) {
  nav {
      text-align: left;
      background: #0082e6;
     
      width: 100%;
  }
 
}

/* // Pads and larger phones */
@media only screen and (min-width: 600px) and (max-width: 767px){
  nav ul li{
      display: inline-block;
      line-height: 10px;
      margin-top: 5%;
      
     
      width: 100px;
      float: left;
  }
  
}

/* // Larger pads */
@media only screen and (min-width: 768px) and (max-width: 991px){
  
  
}

/* // Horizontal pads and laptops */
@media only screen and (min-width: 992px ) and (max-width: 1381px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2%;
    border: 2px solid black;
    background-color: red;
    font-family: 'Reggae One', cursive;
  }
  .nav-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: black;
    border-radius: 5px;
    width: 30%;
    padding: 2%;
  }
  .nav-link{
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    color: blue;
    margin: 2%;
  }
  .selected{
    color: white;
    font-size: 1.5rem;
    text-decoration-style: wavy;
    text-decoration-color: white;
  }
  .aside{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .button-info{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Reggae One', cursive;
    font-size: 1.2rem;
  }
  .button-div{
   
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .button-div button{
    width: 30%;
    padding: 5%;
    margin: 0% 2% 0 2%;
  }
  .ability-drop{
    font-family: 'Reggae One', cursive;
    text-align: center;
  }
  .aside select{
    padding: 3%;
    margin: 3%;
    width: 50%;
  }
  .sorter-div {
    font-family: 'Reggae One', cursive;
    text-align: center;
    
  }
  .searcher-div{
    text-align: center;
    margin-bottom: 3%;
  }
  .search-info{
    font-family: 'Reggae One', cursive;
    font-size: 1.2rem;
  }
  .searcher-div input{
    padding: 3%;
  }
  .egg-string{
    color: red;
  }
  .list-container{
    width:60%;
    display: flex;
    flex-direction: column;
    color: white;
    
    
    overflow-y: scroll;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/41a015e1-ab8f-43d9-80b0-92024013f298/d9wlus2-eb523168-82c8-4a4a-ab9b-0a332e6337aa.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi80MWEwMTVlMS1hYjhmLTQzZDktODBiMC05MjAyNDAxM2YyOTgvZDl3bHVzMi1lYjUyMzE2OC04MmM4LTRhNGEtYWI5Yi0wYTMzMmU2MzM3YWEucG5nIn1dXX0.FsiLpgcs5UXhGf02Jm5nWoG73KsiSDviZmXYRVDCCic');
    background-size: cover;
  }
  .list-container::-webkit-scrollbar {
    /* width: 10px; */
    scrollbar-color: white orange;
  }
  .poke-image-div img{
    
    width: 50%;
  }
  .poke-list-div{
    
    background-color: blue;
  }
  .poke-image-div{
    background-size: cover;
    width: 100%;
    
  }
  .poke-back{
    display: flex;
    justify-content: center;
    background-size: cover;
    width: 100%;
    height: 50%;
  }
  .details{
    background-color: rgba(0,0,0, .9);
    text-align: center;
   
  }
  .stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .stats ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgba(0,0,0, .8);
  }
  .details li{
    width: 35%;
    
  }
  .notName{
  
  }
  .name-label{
    margin: 0;
    height: 50%;
  }
  
  .type-label{
    height:50%;
    width: 100%; 
  }
  .egg-label{
  
  }
  .ability-label{
  
  }
  .type-label-grass{
    background-color: rgb(41,104,23);
  }
  .type-label-fire{
    background-color: rgb(252,187,4);
  }
  .type-label-water{
    background-color: rgb(5,158,187);
  }
  .type-label-bug{
    background-color:rgb(134,200,118);
  }
  .type-label-flying{
    background-color:rgb(190,150,98);
  }
  .grass {
    background-image: url('https://vignette2.wikia.nocookie.net/finalfantasy/images/7/77/FFIV_PSP_Forest_Battle.png/revision/latest?cb=20121009012243');
  }
  .fire{
    background-image: url('https://cdn.bulbagarden.net/upload/thumb/d/d7/Volcanic_Pit_RTDX.png/1200px-Volcanic_Pit_RTDX.png');
  }
  .water{
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83ohf3-7f911e73-0d36-4f31-94f9-e620fd0163c6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8yZmIyODIxYS0xNDA2LTRhMWQtOWIwNC02NjY4ZjI3OGU5NDQvZDgzb2hmMy03ZjkxMWU3My0wZDM2LTRmMzEtOTRmOS1lNjIwZmQwMTYzYzYucG5nIn1dXX0.XuRdW6R-ZJ0J1KMdZ_al_0lryqpOC9gZqKVVr7gNy1M');
  }
  .bug{
    background-image: url('http://vignette3.wikia.nocookie.net/pokemonmultiverse/images/c/cc/Denseforest.jpg/revision/latest?cb=20140611023451');
  }
  .flying{
    background-image: url('https://t792ae.c2.acecdn.net/wp-content/uploads/2019/12/Cirrus-Clouds.jpg');
  }
  
  .col-right{
    
  }
  .col-right{
    
  }
  .col-right:hover {
    
  }
  
  .poke-image{
    
  }
  .poke-image-1{
    
  }
}

/* // Really large screens */
@media only screen and (min-width: 1382px) {
   
   
}

/* // 2X size (iPhone 4 etc) */
@media only screen and 
       (-webkit-min-device-pixel-ratio: 1.5), only screen and 
       (-o-min-device-pixel-ratio: 3/2), only screen and 
       (min-device-pixel-ratio: 1.5) {


}
